<ul>
  <li>  
    <a href="/customers">Customer Profiles</a>
  </li>  

  <li> 
    <a href="/contents">Videos</a>
  </li>
</ul>

<div>
  <div>
    <h1>
      <%= @the_content.name %> details
    </h1>

    <div>
      <div>
        <a href="/contents">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_content/<%= @the_content.id %>">
          Delete video
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_content.name %>
      </dd>

      <dt>
        Ae name
      </dt>
      <dd>
        <%= @the_content.ae_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_content.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_content.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit name
    </h2>

    <form action="/modify_content/<%= @the_content.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_content.name %>">
      </div>

      <div>
        <label for="ae_name_box">
          Ae name
        </label>

        <input type="text" id="ae_name_box" name="query_ae_name" value="<%= @the_content.ae_name %>">
      </div>

      <button>
        Update name
      </button>
    </form>
  </div>
</div>

<hr>

<h2>TSV Download - Customize for all customers</h2>

<table border="1">
      <tr>
        <th>
          AgentPhoto
        </th>

        <th>
          comp
        </th>

        <th>
          AgentName
        </th>

        <th>
          PhoneNumber
        </th>
        
        <th>
          Services
        </th>

        <th>
          RenderName
        </th>
      </tr>
      
      
      <% @list_of_customers.each do |a_customer| %>
        <tr> 
          <td>
            <%= a_customer.first_name %> <%= a_customer.last_name %>_Agent Photo Cropped.png
          </td>
          
          <td>
            <%= @the_content.name %>
          </td>

          <td>
            <%= a_customer.first_name %> <%= a_customer.last_name %>
          </td>
          
          <td>
            (<%= a_customer.phone.to_s[0,3] %>) <%= a_customer.phone.to_s[3,3] %>-<%= a_customer.phone.to_s[6,10] %>
          </td>
          
          <td>
            <%= a_customer.tagline %>
          </td>
          
          <td>
            <%= a_customer.first_name %> <%= a_customer.last_name %>_<%= @the_content.ae_name %>_
          </td>
        </tr> 
      <% end %>

</table>
