<h1>Hi <%= @customization_first_name %>, how does this look?</h1> 

<div>
  This is what we'll use to customize your videos...
</div>

<ul>
  <li>
    First name: <%= @customization_first_name %>
  </li>
  <li>
    Last name: <%= @customization_last_name %>
  </li>
  <li>
    Tagline: <%= @customization_tagline %>
  </li>
  <li>
    Phone Number: (<%= @customization_phone.to_s[0,3] %>) <%= @customization_phone.to_s[3,3] %>-<%= @customization_phone.to_s[6,10] %>
  <li>
    <%= cl_image_tag(@new_photo.image, :transformation=>[
      {:width=>700, :height=>500, :gravity=>"faces", :crop=>"thumb"},
      {:width=>200, :height=>200, :radius=>"max", :crop=>"fill"}
      ])
    %>
  </li>
</ul>


<div>
  <a href="/">Try again: resubmit photo and/or information</a>
</div>

<form action="/save" method="post" enctype="multipart/form-data">

  <input name="query_first_name_id" id="query_first_name_id" value="<%= @customization_first_name %>" type="hidden">

  <input name="query_last_name_id" id="query_last_name_id" value="<%= @customization_last_name %>" type="hidden">

  <input name="tagline" id="tagline" value="<%= @customization_tagline %>" type="hidden">
  
  <input name="query_phone" id="query_phone" value="<%= @customization_phone %>" type="hidden">

  <input name="customization_image" id="customization_image" value="<%= @customization_image %>" type="hidden">

  <button>This looks right!</button>

</form>
