<div>
  <div>
    <h1>
      <%= @the_photo.first_name %> <%= @the_photo.last_name %> customization submission TSV
    </h1>

    <div>
      <a href="/photos">
        Go back
      </a>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= cl_image_tag(@the_photo.image, :transformation=>[
          {:width=>700, :height=>500, :gravity=>"faces", :crop=>"thumb"},
          {:width=>200, :height=>200, :radius=>"max", :crop=>"fill"}
          ])
        %>
        <a href=<%= @the_photo.image %> download>
          Download uncropped image
        </a>
      </dd>

       <dt>
        Name
      </dt>
      <dd>
        <%= @the_photo.first_name %> <%= @the_photo.last_name %>
      </dd>


      <dt>
        Services
      </dt>
      
      <dd>
        <%= @the_photo.tagline %>
      </dd>
     
      <dt>
        Phone Number
      </dt>
      
      <dd>
        <%= @the_photo.phone %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>

<hr>


<h2>TSV Upload</h2>

<table border="1">
      <tr>
        <th>
          AgentPhoto
        </th>

        <th>
          comp
        </th>

        <th>
          AgentName
        </th>

        <th>
          PhoneNumber
        </th>
        
        <th>
          Services
        </th>

        <th>
          RenderName
        </th>
      </tr>
      
      
      <% @list_of_videos.each do |a_video| %>
        <tr> 
          <td>
            <%= @the_photo.first_name %> <%= @the_photo.last_name %>_Agent Photo Cropped.png
          </td>
          
          <td>
            <%= a_video.name %>
          </td>

          <td>
            <%= @the_photo.first_name %> <%= @the_photo.last_name %>
          </td>
          
          <td>
            <%= @the_photo.phone %>
          </td>
          
          <td>
            <%= @the_photo.tagline %>
          </td>
          
          <td>
            <%= @the_photo.first_name %> <%= @the_photo.last_name %>_<%= a_video.ae_name %>_
          </td>
        </tr> 
      <% end %>

</table>

<%# Auto Liability—What is it!
Why Auto Rates Go Up
Annuities, Explained.
Buy Term, Invest the Difference! Think Again.
Life Insurance for Children
Paycheck Insurance
Life Insurance Through Work0 What You May Not Know
Life Insurance for Homemaker Spouses0 Why & How Much!
How Much Life Insurance Do I Need!
Insurability0 Don't Wait
LIRPs0 Your IUL Retirement Policy
While You're Still Alive0 The Living Benefits of Life Insurance
Life Insurance & Long-Term Care
Life Insurance Mortgage Protection
Term vs Permanent Life Insurance, Explained.
LIRPs0 Tax-Free Growth
Ooo... What If I Die!
Life of Significance
Return of Premium
Buy Sell Agreement %>
